torch==2.9.1
#pyaudio==0.2.14
numpy==2.2.6
websockets==11.0.3
PyMuPDF==1.26.7
Pillow==11.3.0
vosk==0.3.45
filterpy==1.4.5
onnx==1.20.1
onnxruntime==1.23.2
opencv-contrib-python==4.13.0.90
pynput==1.8.1
gradio-client==1.13.0
gradio==5.45.0
